* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Zen Tokyo Zoo', cursive, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

header nav {
    position: absolute;
    top: 0;
    right: 0;
}

header li {
    float: left;
    list-style-type: none;
    margin: 50px 50px 0 0;    
    background-color: white;  
    height: 50px;
    width: 50px;    
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    position: relative;
      
}

header a {
    text-decoration: none;
    cursor: pointer;
    font-family: arial;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

section {
    height: 100vh;  
    position: relative;  
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.product-container{
    width: 40vw;
    min-width: 500px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.product-container img {
    width: 100%;
}

.product-container p {
    font-size: 6.7em;
    line-height: 0.5em;
}

#product-first {
    background-color: red;
}

#product-first p {
    color: yellow;
    text-shadow: 2px 2px 4px black;
}

#product-second {
    background-color: green;
    text-shadow: 2px 2px 4px black;
}

#product-second p {
    color: red;
    text-shadow: 2px 2px 4px rgb(73, 73, 73);
}

#product-third {
    background-color: yellow;
}

#product-third p {
    color: green;
    text-shadow: 2px 2px 4px black;
}